
.image{
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.svg_icons{
  transform: scale(1.2);
  color: white;
}

.svg_icons_mail{
  transform: scale(3.8);
  color: white;
}
.prd{
  transform: scale(4);
}
